@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a; 
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased text-slate-900 bg-white;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
}

::selection {
  background-color: #2563eb;
  color: white;
}

/* Hide the standard Google recaptcha badge */
.grecaptcha-badge { 
  visibility: hidden !important; 
}

